.imageContainer{
  width: 100%;
}

.post-colum{
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  height: auto;
  padding: 10px;
}

.action-container{
  display: flex;
  justify-content: space-between;
}

.delete{
  background-color: #f70b35;
  color: #fff;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.delete-btn{
  display: flex;
  align-items: center;
}

.edit{
  background-color: #f6dd0d;
  display: flex;
  align-items: center;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
/* .post-container{
  display: flex;
} */