.carousel-container {
    width: 100%;
    background: chocolate;
}

.image-tag {
    width: 100%;
    height: 500px;
}

.legend{
    width:25% !important;
    justify-content: center;
    display: flex;
    align-items: center;
    background: #000 !important;
    position: absolute;
  
}

/* .legend:hover{
    background: #e4dcdc50 !important;
} */

